Ejercicio de parcial
El GCPD recolecta la información de casos policiales que acontecen en Ciudad Gótica. Esta información se encuentra guardada en un archivo con el siguiente formato:

(fecha, id_caso, descripción, estado_caso, categoria, latitud, longitud)

Los posibels estados que puede tener un caso son 1: caso abierto, 2: caso resuelto, 3: cerrado sin resolucion.

Las fechas se encuentran en el formato YYYY-MM-DD.

Por otro lado el comisionado Gordon guarda un registro detallado sobre en cuales casos fue activada la batiseñal para pedir ayuda del vigilante, Batman. Esta información se encuentra en un archivo con el siguiente formato (id_caso, respuesta), siendo campo respuesta si la señal tuvo una respuesta positiva (1) o negativa (0) de parte de él.

El sector encargado de las estadísticas oficiales del GCPD quiere analizar las siguientes situaciones:

a) Las categorias que hayan incrementado su tasa de resolución al menos un 10% en el último trimestre, con respecto al trimestre anterior.

b) Tasa de participación de Batman por categoria, para los delitos contra la propiedad (que enmarcan las categorías incendio intencional, robo, hurto y robo de vehiculos).

Resolver ambas consultas utilizando Pandas.

In [4]:
import pandas as pd 
import numpy as np

In [ ]:
#casos_policiales = pd.read_csv('.../path/casos_policales.csv')
#casos_batisenial_activada = pd.read_csv('.../path/casos_batisenial_activada.csv')
#uso unos dataframes que saque de un repo de git

In [82]:
valores = {
    'fecha':['2020-03-01','2020-09-03','2020-09-07','2020-10-10','2020-11-05','2020-10-05','2020-08-21','2020-12-21','2020-11-30'],
    'id_caso':[0,1,2,3,4,5,6,7,8],
    'descripción':['desc0','desc1','desc2','desc3','desc4', 'desc5','desc6','desc7','desc8'],
    'estado_caso':[3,1,3,2,2,3,1,2,2],
    'categoria':['robo de vehiculos','robo','hurto','hurto','asesinato','asesinato','hurto','robo de vehiculos','asesinato'],
    'latitud':[2,6,3,4,2,2,2,1,2],
    'longitud':[2,7,9,2,1,1,2,3,4]
}

casos_policiales = pd.DataFrame(valores,columns=valores.keys())
casos_policiales.sample(5)

,fecha,id_caso,descripción,estado_caso,categoria,latitud,longitud
7,2020-12-21,7,desc7,2,robo de vehiculos,1,3
4,2020-11-05,4,desc4,2,asesinato,2,1
1,2020-09-03,1,desc1,1,robo,6,7
8,2020-11-30,8,desc8,2,asesinato,2,4
0,2020-03-01,0,desc0,3,robo de vehiculos,2,2

In [83]:
valores = {
    'id_caso':[0,1,2,3,4,5,6,7,8],
    'respuesta':[0,0,1,0,1,1,0,1,1]
}

casos_batisenial_activada = pd.DataFrame(valores,columns=valores.keys())
casos_batisenial_activada.head()

   id_caso  respuesta
0        0          0
1        1          0
2        2          1
3        3          0
4        4          1

PARTE A

In [84]:
#primero voy a convertir el tipo de dato de la columna 'fecha' a datetime 
casos_policiales['fecha'] = pd.to_datetime(casos_policiales['fecha'])

In [85]:
#creo una nueva columna de trimestre
#un anio tiene 4 trimestres -> 12 meses 
casos_policiales['trimestre'] = (np.ceil(casos_policiales['fecha'].dt.month/3)).astype(np.int)
casos_policiales

,fecha,id_caso,descripción,estado_caso,categoria,latitud,longitud,trimestre
0,2020-03-01,0,desc0,3,robo de vehiculos,2,2,1
1,2020-09-03,1,desc1,1,robo,6,7,3
2,2020-09-07,2,desc2,3,hurto,3,9,3
3,2020-10-10,3,desc3,2,hurto,4,2,4
4,2020-11-05,4,desc4,2,asesinato,2,1,4
5,2020-10-05,5,desc5,3,asesinato,2,1,4
6,2020-08-21,6,desc6,1,hurto,2,2,3
7,2020-12-21,7,desc7,2,robo de vehiculos,1,3,4
8,2020-11-30,8,desc8,2,asesinato,2,4,4

In [88]:
#filtro para el ultimo trimestre
casos_ultimo_trimestre = casos_policiales.loc[casos_policiales['trimestre'] == 4]

In [89]:
#filtro para el trimestre anteriro al ultimo
casos_trimestre_anterior_al_ultimo = casos_policiales.loc[casos_policiales['trimestre'] == 3]

In [90]:
#me podria haber ahorrado este paso simplemente poniendo las dos condiciones en el .loc arriba
casos_ultimos_trimestres = casos_ultimo_trimestre.append(casos_trimestre_anterior_al_ultimo)
casos_ultimos_trimestres

,fecha,id_caso,descripción,estado_caso,categoria,latitud,longitud,trimestre
3,2020-10-10,3,desc3,2,hurto,4,2,4
4,2020-11-05,4,desc4,2,asesinato,2,1,4
5,2020-10-05,5,desc5,3,asesinato,2,1,4
7,2020-12-21,7,desc7,2,robo de vehiculos,1,3,4
8,2020-11-30,8,desc8,2,asesinato,2,4,4
1,2020-09-03,1,desc1,1,robo,6,7,3
2,2020-09-07,2,desc2,3,hurto,3,9,3
6,2020-08-21,6,desc6,1,hurto,2,2,3

In [91]:
def promedio_casos_resueltos(estado_caso):
    return (estado_caso == 2).mean()

In [92]:
parte_a = casos_ultimos_trimestres.pivot_table(index = 'categoria', columns = 'trimestre', values = 'estado_caso', aggfunc = promedio_casos_resueltos)
parte_a

trimestre            3         4
categoria
asesinato          NaN  0.666667
hurto              0.0  1.000000
robo               0.0       NaN
robo de vehiculos  NaN  1.000000

In [93]:
#completo los NaN con ceros(0)
parte_a = parte_a.fillna(0)
parte_a

trimestre            3         4
categoria
asesinato          0.0  0.666667
hurto              0.0  1.000000
robo               0.0  0.000000
robo de vehiculos  0.0  1.000000

In [94]:
#finalmente filtro las cateogiras que cumplan que aumentaron la tasa de resolucion en 10%
categorias_partea = parte_a.loc[parte_a[4]*0.1>parte_a[3]]
respuestas = categorias_partea.index.tolist()

In [95]:
#listo las categorias
print('Las categorias que aumentaron en 10% su tasa de resolucion en los ultimos trimestres son: \n' )
for category in respuestas:
    print(category)

Las categorias que aumentaron en 10% su tasa de resolucion en los ultimos trimestres son:

asesinato
hurto
robo de vehiculos

PARTE B

In [96]:
#filtro delitos contra la propiedad 
delitos_contra_la_propiedad = (casos_policiales['categoria'] == 'incendio intencional') | (casos_policiales['categoria'] == 'robo') \
| (casos_policiales['categoria'] == 'hurto') | (casos_policiales['categoria'] == 'robo de vehiculos')
casos_filtrados = casos_policiales.loc[delitos_contra_la_propiedad]
casos_filtrados

,fecha,id_caso,descripción,estado_caso,categoria,latitud,longitud,trimestre
0,2020-03-01,0,desc0,3,robo de vehiculos,2,2,1
1,2020-09-03,1,desc1,1,robo,6,7,3
2,2020-09-07,2,desc2,3,hurto,3,9,3
3,2020-10-10,3,desc3,2,hurto,4,2,4
6,2020-08-21,6,desc6,1,hurto,2,2,3
7,2020-12-21,7,desc7,2,robo de vehiculos,1,3,4

In [97]:
#hago un merge entre casos_filtrados con casos_batisenial_activada

casos_joined = casos_filtrados.merge(casos_batisenial_activada, how = 'inner')
casos_joined

,fecha,id_caso,descripción,estado_caso,categoria,latitud,longitud,trimestre,respuesta
0,2020-03-01,0,desc0,3,robo de vehiculos,2,2,1,0
1,2020-09-03,1,desc1,1,robo,6,7,3,0
2,2020-09-07,2,desc2,3,hurto,3,9,3,1
3,2020-10-10,3,desc3,2,hurto,4,2,4,0
4,2020-08-21,6,desc6,1,hurto,2,2,3,0
5,2020-12-21,7,desc7,2,robo de vehiculos,1,3,4,1

In [98]:
respuestaBatman_por_categoria = casos_joined.groupby('categoria').agg({'respuesta':'mean'})
respuestaBatman_por_categoria.rename(columns = {'respuesta':'tasa de respuesta'})

                   tasa de respuesta
categoria
hurto                       0.333333
robo                        0.000000
robo de vehiculos           0.500000